.home {
  background-repeat: no-repeat;
  background: url(../images/fondo3.png);
  background-size: cover;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filters {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.pages {
  display: flex;
  justify-content: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

.card {
  padding-bottom: 50px;
  width: 18em;
  margin: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  margin: 1em;
  padding-bottom: 20em;
}


/* @media only screen and (max-width: 1400px) {
  .container {
    display: inline-flex;
    padding: 15px 0px 0px 0px;
  }
} */